*
!Snakefile
!config.yaml
!cluster.json
!GeneID.tsv
!LICENSE
!README.md
!.gitignore
!.editorconfig
!.gitattributes
!envs
!envs/*
!rules
!rules/*
!schemas
!schemas/*
!report
!report/*
!scripts
!scripts/*
!bin
!bin/*
!bin/BE-Designer/*
!bin/BE-Designer/__pycache__/*
!bin/sgRNAcas9_3.0.5/*
!bin/sgRNAcas9_3.0.5/Seqmap/*
!bin/sgRNAcas9_3.0.5/Usefull_Script/*
!bin/crisporWebsite/*